h1#focim{
    color: red;
    font-size: 50px;

}
html{
    color: antiquewhite;
}
    

img{
    width: 600px;
    position: relative;
    left: 100px;
    padding: 30px;
}

p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}